/* CSS Document */
@media screen and (max-width:768px) {
.top .right{
	float:right;
	padding:0px;
}
.top .right ul{
	float:right;
	width:100%;
	padding:0px !important;
	margin:0px;
}
.top .right ul li{
	float:right;
	width:100%;
	padding:9px 5px !important;
	font-size:13px;
	border-left:0px solid rgba(217,217,217,0.5);
	border-bottom:1px solid rgba(217,217,217,0.5);
}
.top .right ul li .box_info{
	width:100%;
	text-align:center;
}
.short_info{
}
.main-form .body{
	padding:55px 10px;
}
.main-form .show_table{
	padding:55px 0px;
}

.short_info ul li{
	width:100%;
	margin-bottom:10px;
}
.short_info .top ul li{
	margin-bottom:0px;
}

.main-form .body ul li{
	float:right;
	width:100%;
	height:auto;
	padding:10px 10px;
}
.main-form .body .right{
	margin-top:10px;
}
.main-form .body .right .form_row{
	float:right;
	height:auto;
	width:100%;
	padding:5px 0px;
}
.main-form .body .right .row{
	float:right;
	height:auto;
	width:100%;
	padding:4px 0px;
}
.main-form .body .left .box_info{
	width:100%;
}
.main-form .setting .tab-content .row{
	padding:5px 0px !important;
	float:right;
	width:100%;
	height:50px;
	margin-bottom:25px
}
.main-form .setting .tab-content .left{
	float:right;
	width:100%;
	margin:0px;
	padding:0px;
}

@media screen and (min-width:769px) and (max-width:992px) {
.main-form .body{
	padding:26px 10px;
}
}
@media screen and (min-width:993px) and (max-width:1200px) {
.main-form .body{
	padding:26px 10px;
}
}
@media screen and (min-width:1201px) {
.main-form .body .left .box_info{
	width:60%;
}
.main-form .body{
	padding:26px 10px;
}

}